<div class="Boxtable">
  <table class="Table">
    <thead>
      <tr class="tabletitle">
        <td class="items">ID</td>
        <td class="items">NOME</td>
        <td class="items">USER NAME</td>
        <td class="items">EMAIL</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let forUsuario of Usuario ">
        <td><span class="id">{{forUsuario.id}}</span></td>
        <td><span class="name">{{forUsuario.name}}</span></td>
        <td><span class="username"> {{forUsuario.username}}</span></td>
        <td><span class="email">{{forUsuario.email}}</span></td>
      </tr>
    </tbody>
  </table>

  <h3>Total de Usuarios: {{Usuario.length}}</h3>
</div>