.Table {
  font-size: 1rem;
  width: 50rem;
  border-collapse: collapse;
  font-size: 1.2rem;
}
.Table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.Table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.Table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.Table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.Table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.Boxtable h3 {
  text-align: right;
  text-transform: uppercase;
}
